@import 'assets/styles/pagerduty.scss';

.query-settings-inner-ctr {
  padding-top: 10px;
  border: 1px solid $pd-gray-medium;
  margin-top: 10px;
}

.date-picker {
  width: 120px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body.dark-mode .date-picker {
  background-color: $pd-brand-gray-dark !important;
  color: $pd-white !important;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

body.dark-mode .react-datepicker {
  background-color: $pd-brand-gray-light !important;
}

body.dark-mode .react-datepicker__header {
  background-color: $pd-brand-gray-light !important;
  color: $pd-white !important;
}
