/* Bootstrap */
.modal-90w {
  width: 90% !important;
  max-width: none !important;
}

#user-profile-auto-accept-incident-query-checkbox {
  position: relative !important;
  top: 3px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

/* React Dual List Overrides */
.rdl-control-label {
  font-size: 16pt;
}

.rdl-control-container {
  min-height: 300px !important;
}
