/* Button Overrides */

.buttons-excel {
  background-image: url("https://visualpharm.com/assets/783/Microsoft%20Excel-595b40b75ba036ed117d8166.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: transparent;
  height: 30px;
  width:  30px;
}

.buttons-csv {
  background-image: url("https://visualpharm.com/assets/977/CSV-595b40b85ba036ed117dce43.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: transparent;
  height: 30px;
  width:  30px;
}

.buttons-pdf {
  background-image: url("https://visualpharm.com/assets/795/PDF-595b40b75ba036ed117d6b2b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: transparent;
  height: 30px;
  width:  30px;
}

/* Table Overrides */

.data-table-extensions {
  /* display: block; */
  background-color: var(--light);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(0,0,0,.125);
}

.rdt_TableHeadRow {
  background-color: rgba(0,0,0,.03) !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(0,0,0,.125);
}

.rdt_TableCol {
  font-size: 16px !important;
  font-weight: 600 !important;
}