@import 'assets/styles/pagerduty.scss';

/* Empty Incidents */
.empty-incidents {
  height: 500px;
  text-align: center;
}

.empty-incidents-badge {
  padding-top: 20px;
}

/* Table Positioning */
.incident-table {
  margin-top: 10px;
  white-space: nowrap;
  // height: 570px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.incident-table::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.incident-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $pd-light;
}

.incident-table::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: $pd-gray;
}

.incident-table-settings-btn {
  position: relative;
  float: right;
  background-color: $pd-brand-gray-dark;
}

/* Priority Pill */
.priority-label {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 40px;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  margin-right: 5px;
  padding: 5px 10px 3px;
  border-radius: 5px;
  vertical-align: -4px;
  border-radius: 4px;
}

.priority-label-dropdown {
  display: block;
  position: relative;
  top: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  padding: 5px 10px 3px;
  border-radius: 5px;
}

/* React-Table CSS */

.table {
  border-spacing: 0;
}

.thead {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.th {
  padding: 10px !important;
  background-color: white;
  color: $pd-dark;
  font-weight: 700;
}

.th-sorted {
  padding: 10px !important;
  background-color: white;
  color: $pd-primary;
  font-weight: 1000;
}

.resizer {
  display: inline-block;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
  /* &.isResizing {
    background: red;
  } */
}

.tbody {
  overflow-y: scroll;
  overflow-x: hidden;
}

.tr {
  font-size: 14px;
}

.tr:nth-child(even) {
  background-color: $pd-brand-background-2 !important;
}

.tr:hover {
  background-color: $pd-gray-medium !important;
}

.td {
  padding: 10px !important;
}

.pagination-results {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-bottom: 5px;
}

.pagination-setting-pages {
  display: flex;
}

.pagination-buttons {
  margin-left: 5px;
  font-size: 14px;
}

.pagination-current-page-badge {
  margin-top: 4px;
}
