@import 'assets/styles/pagerduty.scss';

.navbar {
  padding: 0.2rem 1rem !important;
}

.navbar-ctr {
  border-bottom: 1px solid $pd-brand-gray-light;
}

.nav-bar-logo-ctr {
  min-width: 130px;
}

.nav-bar-logo-black {
  background-image: url('/assets/images/pd_logo_black.svg');
  background-repeat: no-repeat;
  background-color: $pd-white;
  background-size: 117px;
  color: transparent;
  position: relative;
  top: 4px;
}

.settings-panel-icon {
  background-image: url('https://secure.gravatar.com/avatar/0ee453ea32f9f9702c809b4680237b50.png?d=mm&amp;r=PG');
  background-repeat: no-repeat;
  background-color: $pd-white;
  background-size: 35px;
  max-width: 100%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

a.dropdown-toggle.nav-link::after {
  content: none;
}

.nav-link {
  padding: unset;
}

.filters-toggle {
  position: relative;
  top: 10px;
  right: 20px;
}

.status-beacon-ctr {
  position: relative;
  top: 12px;
}

.settings-toggle {
  width: 30px;
  fill: $pd-black;
  position: relative;
  top: 3px;
}
