/* Theme injection */
@import 'assets/styles/pagerduty.scss';
$theme-colors: (
  'primary': $pd-primary,
  'secondary': $pd-secondary,
  'success': $pd-success,
  'info': $pd-info,
  'warning': $pd-warning,
  'danger': $pd-danger,
  'light': $pd-white,
  'dark': $pd-dark,
);

/* Imports */
@import 'bootstrap/scss/bootstrap';
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

/* Global Overrides */
@font-face {
  font-family: 'ColfaxPD';
  src: url('./assets/fonts/ColfaxPD-Regular.woff') format('woff');
}

body {
  font-family: 'ColfaxPD', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
