/* Imports */
@font-face {
  font-family: 'ColfaxPD';
  src: url("./assets/fonts/ColfaxPD-Regular.woff") format('woff');
}

@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
  font-family: "ColfaxPD", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}