/* PagerDuty Theme */
$pd-blue: #1155e6;
$pd-indigo: #004c8e;
$pd-purple: #6815b1;
$pd-pink: #e83e8c;
$pd-red: #c13737;
$pd-orange: #d14905;
$pd-yellow: #ffdc00;
$pd-green: #21783e;
$pd-teal: #5ccb7c;
$pd-cyan: #00adee;
$pd-white: #fff;
$pd-gray: #666;
$pd-gray-dark: #333;
$pd-dark-blue: #004c8e;
$pd-black: #000;
$pd-dark: #333;
$pd-gray-medium: #ced4da;
$pd-brand-background: #f6f6f6;
$pd-brand-background-2: #f9f9f9;
$pd-brand-background-3: #f2f2f2;
$pd-brand-green: #21783e;
$pd-brand-white: #fff;
$pd-brand-black: #282424;
$pd-brand-gray-dark: #333;
$pd-brand-gray-light: #e5e5e5;
$pd-brand-secondary-dark: #4c5b5e;
$pd-brand-secondary-light: #abb2b5;
$pd-primary: #1155e6;
$pd-secondary: #e5e5e5;
$pd-success: #21783e;
$pd-info: #00adee;
$pd-warning: #ffdc00;
$pd-danger: #c13737;
$pd-light: #e5e5e5;
$pd-dark: #282424;
