name: ESLint

on: [pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Yarn
        run: npm install -g yarn
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install modules
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: Run ESLint
        run: npx eslint src --ext .js,.jsx,.ts,.tsx --exit-on-fatal-error
