name: Test Framework Suite

on: [push]

jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Yarn
        run: npm install -g yarn
      - name: Install modules
        run: yarn install
      - name: Run Jest Tests
        run: yarn jest

  # FIXME: https://github.com/cypress-io/cypress/issues/19531
  cypress-run:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node16.13.0-chrome95-ff94
      options: --user 1001
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn install
      - name: Run Cypress Tests
        run: yarn cypress:ci
